<h1>Look at your Books!</h1>

<ul>
  <%@books.each do |book|%>
    <%if book.owner_id == @owner.id%>
      <li><%=book.title%></li>
    <%end%>
  <%end%>
</ul>

<div class = "container">
  <h3><a href="/books/new">Add a book to your library!</a></h3>
  <h3><a href = "/logout">Logout</a></h3>
</div>
