<h1>Owners</h1>
<ul>
  <%@owners.each do |owner|%>
  <li>
    <a href='/owners/<%= owner.id %>'><%=owner.name%></a>
    <ul>
      <%owner.books.each do |book| %>
      <li>
        <a href='/books/<%= book.id %>'><%=book.title%></a></li>
      </li>
      <% end%>
    </ul>
  </li>
  <%end%>
</ul>

<div class = "container">
  <h3><a href="/books/new">Add a book to your library!</a></h3>
  <h3><a href = "/logout">Logout</a></h3>
</div>
