<h1><%= "Look at " + @owner.name + "'s Books!"%></h1>

<ul>
  <% binding.pry %>
  <%@owner.books.each do |book|%>
      <li><a href='/books/<%= book.id %>'><%=book.title%></a></li>
  <%end%>
</ul>

<h1><a href="/logout">Log Out</a></h1>
