<%if @owner.id == current_user.id%>
  <h1><%= "Look at your books!"%></h1>
<%else%>
  <h1><%= "Look at " + @owner.name + "'s books!"%></h1>
<% end%>

<ul>
  <%@owner.books.each do |book|%>
      <li><a href='/books/<%= book.id %>'><%=book.title%></a></li>
  <%end%>
</ul>

<div class = "container">
  <h3><a href="/books/new">Add a book to your library!</a></h3>
  <h3><a href = "/logout">Logout</a></h3>
</div>
