<h3>Sign Up!</h3>

<ul>
  <% if @errors != nil%>
    <p>Errors: <%=@errors%><p>
  <%end%>
</ul>

<form class="" action="/signup" method="post">
  <p>Username: <input type="text" name="username" value=""></p>
  <p>Password: <input type="password" name="password" value=""></p>
  <p>Name: <input type="text" name="name" value=""></p>
  <input type="submit" name="submit" value="submit">
</form>
