<h1>Look at all of the books!</h1>

<ul>
  <%@books.each do |book|%>
      <li><a href='/books/<%= book.id %>'><%=book.title%></a></li>

  <%end%>
</ul>

<div class = "container">
  <h3><a href="/owners/<%=current_owner.id%>">Go to your library!</a></h3>
  <h3><a href="/books/new">Add a book to your library!</a></h3>
  <h3><a href="/owners">See all of the owners!</a></h3>
  <h3><a href = "/logout">Logout</a></h3>
</div>
