<h1>Look at all of the books!</h1>

<ul>
  <%@books.each do |book|%>
      <li><a href="/books/"+ '#{book.id}'><%=book.title%></a></li>

  <%end%>
</ul>
<h1><a href="/books/new">Add a book to your library!</a></h1>
<h1><a href="/logout">Log Out</a></h1>
