<h1>Create a New Book!</h1>

<form action="/books" method="POST">
  <br></br>
  <label>Name:</label>
  <input type="text" name="book[name]" id="book_name">
  <br></br>
  <label>Genre:</label>
  <input type="text" name="book[genre]" id="book_genre">
  <br></br>
  <label>Summary:</label>
  <input type="text" name="book[summary]" id="book_summary">
  <br></br>
  <input type="submit" value="Create Book">
</form>
