<h1>Create a New Book!</h1>
<h4><%= @error %></h4>

<form action="/books" method="POST">
  <br></br>
  <label>Title:</label>
  <input type="text" name="book[title]" id="book_title">
  <br></br>
  <label>Author:</label>
  <input type="text" name="book[author]" id="book_author">
  <br></br>
  <label>Genre:</label>
  <select id='genre_list' type="text" name='book[genre]' id="book_genre">
  <% @genres.each do |genre| %>
    <option type="text" name='book[genre]' id="book_genre"> <%= genre %>
  <% end %>
  </select>

  <br></br>
  <label>Summary:</label>
  <input type="text" name="book[summary]" id="book_summary">
  <br></br>
  <input type="submit" value="Create Book">
</form>
