<h1>Look at all of the backpacks!</h1>

<ul>
  <%@backpacks.each do |backpack|%>
      <%= binding.pry %>
      <li><a href='/backpacks/<%= backpack.id %>'><%=backpack.name%></a></li>

  <%end%>
</ul>
<h1><a href="/books/new">Add a backpack to your library!</a></h1>
<h1><a href="/logout">Log Out</a></h1>
